.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    text-align: center;
}

.movie-card {
    margin: 1rem;
    background-color: yellowgreen;
    width: 300px;
    height: 100px;
}